@workable:registry=https://workable.jfrog.io/workable/api/npm/npm/
@workablehr:registry=https://workable.jfrog.io/workable/api/npm/npm/
//workable.jfrog.io/workable/api/npm/npm/:_auth=${ARTIFACTORY_NPM_AUTH}
//workable.jfrog.io/workable/api/npm/npm/:email=${ARTIFACTORY_USERNAME}
